<body>
  <div class="baseView">
   <div class="fist-div">
     <div class="lorem-ipsum">Lorem Ipsum</div>
     
     <div class="frame-2">
      <ion-button class="butBeg" fill="clear"><ion-icon name="swap-horizontal-outline" class="iconsOne"></ion-icon></ion-button>
    </div>
    


   </div>

   <div class="frame-12">
    <div class="lorem1">Lorem</div>
    <div class="ipsum1">ipsum</div>

   </div>


   <div class="frame-6">
    <div class="lorem-ipsum-v">Lorem ipsum v</div>
    <div class="frame-36"></div>
    <div class="frame-37"></div>
    <div class="frame-41"></div>
    <div class="frame-39"></div>
    <div class="frame-38"></div>
    <div class="frame-40"></div>
    <div class="frame-42"></div>
    <div class="ipsum">ipsum</div>
    <div class="lorem">Lorem</div>
    <div class="impi">Impi</div>

  </div>
  <hr>
  <section class="priceContent">
    <ion-button class="butBeg2" fill="clear"><div class="button-text">USD<br/>500</div></ion-button>
    <ion-button class="butBeg2" fill="clear"><div class="button-text">USD<br/>500</div></ion-button>
   </section>

 
  




  </div>
  
     
    
   
  
   
   

   

</body>